<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
	    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#Options" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
	    </button>
      <a class="navbar-brand" href="#">
        <strong>SMS App</strong>
      </a>
    </div>
    <div class="collapse navbar-right navbar-collapse" id="Options">
	    <ul class="nav navbar-nav">
		    <li>
		        <a href="#/app/sms" data-toggle="collapse" data-target="#Options">Send Message</a>
		    </li>
		    <li>
		        <a href="#/app/contacts" data-toggle="collapse" data-target="#Options">Contacts</a>
		    </li>
	    </ul>
    </div>
  </div>
</nav>
<div ui-view="mainContent"></div>